/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/**GLOBALES**/

body {
    /*Fuente del sitio*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    /*Imagenes responsivas*/
    max-width: 100%;
}

p {
    font-size: 16px;
    line-height: 2;
}

.boton {
    background-color: #007FAF;
    padding: 10px 60px;
    display: inline-block;
    /*Inline-Block permite modificar el margin del botón*/
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    /*Tiempo de transición para el hover*/
    transition: background-color .3s ease-in-out;
}

.boton:hover {
    background-color: rgb(3, 96, 129);
}

.site-header {
    /*Espacio arriba y abajo del header*/
    padding: 20px 0;
}

.contenedor {
    /*Centrar el espacio con margenes laterales*/
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    /*Arreglar floats*/
    content: '';
    clear: both;
    display: block;
}


/**Navegación Responsive**/

.barra {
    overflow: hidden;
}

.mobile-menu {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    display: block;
    padding: 20px 0;
}

#nav:target {
    max-height: 800px;
}

.navegacion-principal {
    max-height: 0;
    transition: .5s;
}

@media (min-width: 768px) {
    .navegacion-principal {
        max-height: unset;
    }
    .mobile-menu,
    .cerrar {
        display: none!important;
    }
}


/** Navegacion **/

.barra {
    margin-top: 40px;
    background-color: #B23030;
}

.navegacion-principal a {
    /*links navbar*/
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 20px;
}

@media (min-width: 768px) {
    .navegacion-principal a {
        display: inline-block;
    }
}

.navegacion-principal a:hover {
    background-color: #007FAF;
}


/**Contenedores principales**/

.contenido-principal {
    /*Padding lateral, bordes libres en movil*/
    margin-top: 40px;
}

.contenido-principal,
.sidebar {
    padding: 20px;
}

@media (min-width: 768px) {
    .contenido-principal {
        width: 70%;
        float: left;
        padding: 0 60px 0 0;
    }
    .sidebar {
        width: 30%;
        float: right;
        padding: 0;
        margin-top: 40px;
    }
}


/**Entradas de Blog**/

h2 {
    color: #007FAF;
    margin-bottom: 20px;
}

.entrada {
    margin-bottom: 60px;
}

.entrada:last-of-type {
    margin-bottom: 0;
}

.entrada img {
    /*Imagen ocupe todo el espacio*/
    display: block;
}

@media (min-width: 480px) {
    /*Hacer que el texto fluya sobre la imagen a la izquierda*/
    .entrada img {
        width: 300px;
        float: left;
        margin: 0 30px 0 0;
    }
}

.entrada p {
    text-align: justify;
}


/**SIDEBAR**/

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li:hover {
    background-color: #007FAF;
}

.sidebar ul li a {
    color: #007FAF;
    font-size: 18px;
    text-decoration: none;
}

.sidebar ul li:hover a {
    color: #ffffff;
}


/**FOOTER**/

.footer-sitio {
    background-color: #B23030;
    padding-top: 30px;
    margin-top: 60px;
    color: #ffffff;
    text-align: center;
}

.footer-sitio h2 {
    color: #ffffff;
}

.footer-sitio a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
}

.footer-sitio a:last-of-type {
    margin-right: 0;
}

@media (min-width: 768px) {
    .footer-sitio .nosotros {
        float: left;
        width: 30%;
        text-align: left;
    }
    .footer-sitio .menu {
        float: right;
        width: 50%;
        text-align: right;
    }
}

.copy {
    background-color: rgb(139, 32, 32);
    margin: 50px 0 0 0;
    padding: 10px 0;
}